/* Custom properties/variables  */
:root {
    --main-coffee: #5c4742;
    --main-mocha: #a5978b;
    --main-creamer: #c4bbaf;
    --main-brown:#5a2a27;
    --main-black: #0b090a;
  }
@font-face {
    font-family: ArchitectsDaughter-Regular;
    src: url("fonts/ArchitectsDaughter-Regular.ttf");
    }
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container {
    position: fixed;
    margin: 0;
    padding: auto;
    width: 99%;
    height: 100vh;
}
 
.dropbtn {
    background-color: var(--main-black);
    color: var(--main-creamer);
    font-weight: bold;
    font-size: 15px;
    border: 1px solid var(--main-mocha);
    display: block;
    margin: 5px 0;
    padding: 10px 50px;
    text-transform: uppercase;
    cursor: pointer;      
}

.dropbtn:hover {
    background-color:var(--main-mocha);
  }

li {
    list-style: none;
}

/**PAGE Style**/
.slide-1 {
    background-image: url("../images/2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.slide-2 {
    background-image: url("../images/3.png");
}
.slide-3 {
    background-image: url("../images/4.png");
}
.slide-4 {
    background-image: url("../images/5.png");
}
.slide-5 {
    background-image: url("../images/6.png");
}
.slide {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow-x: hidden;
}

/**Caption**/
.caption {
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
}
.caption h1 {
    text-align: center;
    font-size: 30px;
    margin: 10px;
    padding: 0px; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px var(--main-black);
}

.caption a {
    color: var(--main-creamer);
}

/** ARROW styles**/
.arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 100;
    color: var(--main-creamer);
    background-color: transparent;
    border-radius: 50%;
    padding: 1%;
}  
.arrow:hover {
    background: var(--main-black);
}
.l {
    left: 30px;
}
.r {
    right: 30px;
}

