/* Custom properties/variables  */
:root {
    --main-coffee: #5c4742;
    --main-mocha: #a5978b;
    --main-creamer: #c4bbaf;
    --main-brown:#5a2a27;
    --main-black: #0b090a;
  }
  
 /* Base */ 

/* box-sizing and font sizing */
*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 60%;
  scroll-behavior: smooth;
}
body {
    position: fixed;
    margin: 0;
    padding: 100px;
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: var(--main-black);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }  

/*Heading*/

#navbar {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: flex-start;
  background-color: transparent;
  padding: 0px 60px;
  width: 90%;
}

.dropbtn {
  background-color: transparent;
  color: var(--main-black);
  font-size: 15px;
  border: none;
  display: block;
  margin: 20px 0px 0px;
  padding: 10px 50px;
  align-items: center;
  width: 100%;
  height: 30%;
  text-transform: uppercase;
  cursor: pointer;        
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  z-index: 1;
}

.dropdown-content a {
  color:var(--main-black);;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  padding: 10px 50px;
  align-items: center;
  width: 70%;
  height: 30%;
  font-size: 15px;
  text-transform: uppercase;
  border: 1px var(--main-black) solid;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;      
}

.dropdown-content a:hover {
  background-color:rgba(14, 13, 13, 0.4);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
}

/* ABOUT */
.about-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: right;
    width: 100%;
    height: 80vh;
    background-color: var(--main-creamer);
    border: 10px;
    border-style:hidden;
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }

h1 {
  position: absolute;
  font-size: 85px;
  text-align: left;
  margin: 0;
  padding: 10px;
  line-height: 100px;
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px 1px var(--main-brown);
}
  
p {
  position: absolute;
  font-size: 100px;
  text-align: right;
  margin: 0;
  width: 85%;
  top: 65vh;
  font-family: 'Poppins', sans-serif;
  line-height: 100px;
  text-shadow: 2px 2px 1px var(--main-brown);
}

h2 {
  position: absolute;
  font-size: 30px;
  margin: 0;
  top: 75vh;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px 1px var(--main-coffee);
}
#photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40rem;
  height: 40rem;
  margin: 90px auto;
}

/* Contacts */

  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
    color: var(--main-black);
  }
  .contact-links {
    display: flex;
    position: fixed;
    justify-content: center;
    top: 78%;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
  }
  
  .contact-details {
    font-size: 2.1rem;
    text-shadow: 2px 2px 1px var(--main-mocha);
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
  }
  
